export interface {{classname}} {{#parent}}extends models.{{{parent}}} {{/parent}}{
{{#additionalPropertiesType}}
  [key: string]: {{{additionalPropertiesType}}}{{#hasVars}} | any{{/hasVars}}

{{/additionalPropertiesType}}
{{#vars}}
  {{#description}}
  /**
   * {{{description}}}
   */
  {{/description}}
  {{name}}{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}}

{{/vars}}
}{{#hasEnums}}
{{#vars}}
{{#isEnum}}export type {{classname}}{{enumName}} =
  {{#allowableValues}}{{#enumVars}}| {{{value}}}
  {{/enumVars}}{{/allowableValues}}

export const {{classname}}{{enumName}}: Readonly<{
  {{#allowableValues}}
    {{#enumVars}}
    {{{name}}}: {{{value}}}
    {{/enumVars}}
  {{/allowableValues}}
}> = {
  {{#allowableValues}}
    {{#enumVars}}
    {{{name}}}: {{{value}}},
    {{/enumVars}}
  {{/allowableValues}}
}
{{/isEnum}}
{{/vars}}
{{/hasEnums}}

